body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  .about-section {
    background-color: #FD8311;
    color: #ffffff;
    padding: 40px 0;
  }
  
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .about-image {
    width: 60%;
  }
  
  .about-image img {
    max-width:80%;
     border-radius: 15px;
  }
  
  .about-text {
    width: 40%;
  }
  
  .about-title {
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .about-description {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .start-selling-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #FD8311;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .start-selling-button:hover {
    background-color: #FD8311;
    color: #ffffff;
  }  