/* register.css */

body {
	font-family: 'Times New Roman', Times, serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

.container {
	margin-top: 50px;
}

.card {
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card-header {
	background-color: white;
	color: #007bff;
	text-align: center;
	font-size: 24px;
	padding: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-body {
	padding: 20px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	color: #495057;
}

input {
	width: 100%;
	padding: 12px;
	font-size: 18px;
	border: 1px solid #ced4da;
	border-radius: 5px;
	box-sizing: border-box;
	transition: border-color 0.3s;
}

input:focus {
	border-color: #007bff;
}

.btn-success {
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn-success:hover {
	background-color: #0056b3;
}

.text-danger {
	color: #dc3545;
}