/* register.css */
body {
	font-family: 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
	background-color: white;
}

.glass-container {
	position: relative;
	background: linear-gradient(180deg, rgba(253, 131, 17, 0.8) 0%, rgba(253, 131, 17, 0) 100%), #f4f4f4;
	overflow: hidden;
	height: 100vh;
}

.glass-circle {
	position: absolute;
	background-color: rgba(253, 131, 17, 0.9);
	border-radius: 50%;
	backdrop-filter: blur(10px);
	z-index: 1;
}

.glass-circle-large {
	width: 200px;
	height: 200px;
	top: 30%;
	left: 30%;
	transform: translate(-50%, -50%);
}

.glass-circle-medium {
	width: 150px;
	height: 150px;
	top: 70%;
	left: 30%;
	transform: translate(-50%, -50%);
}

.glass-circle-small {
	width: 100px;
	height: 100px;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -50%);
}

.container {
	position: relative;
	margin-top: 50px;
	background: rgba(255, 255, 255, 0);
	border-radius: 10px;
	padding: 20px;
	z-index: 2;
}

.card {
	/* From https://css.glass */
	/* From https://css.glass */
		background: rgba(255, 255, 255, 0);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(0px);
		-webkit-backdrop-filter: blur(0px);
		border: 1px solid rgba(255, 255, 255, 0.21);
	border: none;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
	background-color: transparent;
	color: #FD8311;
	text-align: center;
	font-size: 24px;
	padding: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.card-body {
	padding: 20px;
}


label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	color: #495057;
}

input {
	width: 100%;
	padding: 12px;
	font-size: 18px;
	border: none;
	border-bottom: 1px solid #ced4da;
	border-radius: 5px;
	box-sizing: border-box;
	transition: border-color 0.3s, color 0.3s, background-color 0.3s;
	outline: none;
	background-color: transparent;
}

input:focus {
	border-bottom-color: #FD8311;
	color: #fff;
	background-color: rgba(253, 131, 17, 0.2);
}


.btn-success {
	background-color: #FD8311;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 8px 16px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
	display: block;
	margin: 20px auto;
	width: 120px;
}

.btn-success:hover {
	background-color: #0056b3;
}

.text-danger {
	color: #dc3545;
}
.header {
	color: #000;
	padding: 10px;
	text-align: center;
}

.header a {
	color: #000;
	text-decoration: none;
	margin: 0 15px;
}
.header a:hover {
	border-bottom: 2px solid #000;
	
}

