{% extends 'users/base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/items.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock style %}

{% block content %}
<h2>Add to Cart</h2>

<div class="auction-item">
	<div class="auction-image">
		<img src="{{ item.image.url }}" alt="{{ item.title }}">
	</div>
	<div class="auction-details">
		<div class="auction-title">{{ item.title }}</div>
		<div class="auction-description">{{ item.description }}</div>
		<div class="auction-price">{{ item.price }}</div>

			<form method="post" action="{% url 'add_to_cart' item.id %}">
				{% csrf_token %}
				<label for="quantity">Quantity:</label>
				<input type="number" id="quantity" name="quantity" value="1" min="1">
				<button type="submit" class="add-to-cart-btn">Add to Cart</button>
			</form>
	</div>
</div>
{% endblock %}