{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
		integrity="sha384-wvfXpqpZZVQGKKGJ3RM9kLkxL8sX5ISqIn1av5QgHijsR5prS00HzPKFVrNh5cuI" crossorigin="anonymous">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>User Authentication System</title>

	{% block style %}

	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
	{% endblock style %}
</head>

<body>
		{% block content %}
		{% endblock content %}
</body>

</html>