{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock style %}


{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1>Discover AuctionCraft</h1>
        <h2>Where Every Bid Tells a Story</h2>
        <p class="hero-description">Unveil a world of unique treasures and thrilling bids. Join AuctionCraft, your
            gateway to an exclusive marketplace where every item has a story to tell.</p>
        <button class="start-selling-btn">Start Your Bidding Journey</button>
    </div>
</section>
{% endblock %}