{% extends 'users/base.html' %}
{% load static %}
{% block css %}
<style>
	html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
		font-family: 'Open Sans';
	}

	.wrapper {
		min-height: 100%;
		position: relative;
	}
	.content {
        padding-bottom: 150px;
    }
	.btn {
		background-color: #fd8311; color: white;
	}

	/*Style for hero*/
</style>
{% endblock %}

{% block body %}

<div class="wrapper">
<div class="container mt-2 mb-3 content">

	<div class="row">
		{% for product in products %}
		<div class="col-lg-4 my-4">
			<div class="card shadow align-items-center" style="width: 20rem; height: 25rem;">
				<img src="{{ product.image.url }}" class="card-img-top user-image" alt="productImage">
				<div class="card-body">
					<h5 class="card-title">{{product.name}}</h5>
					<hr>
					{% if request.user.is_authenticated %}
					<button data-product="{{product.id}}" data-action="add" class="btn add-btn update-cart"
						style="background-color: #fd8311; color: white;">Add To Cart</button>
					<a href="/product_view/{{product.id}}/" class="btn btn-outline-secondary">View</a>
					{% else %}
					<button class="btn" style="background-color: #fd8311; color: white;">Login to add the item</button>
					{% endif %}
					<h4 style="display: inline-block;">&nbsp;{{product.price}}</h4>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
</div>
{% endblock %}