{% extends 'users/base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<style>
	.navbar {
		background-color: #FD8311;
	}
</style>
{% endblock style %}

{% block body %}
<form method="POST">
	{% csrf_token %}
	<div class="container login-container">
		<div class="mb-3">
			<label for="username" class="form-label login-label">Username</label>
			<input type="text" class="form-control login-input" id="username" name="username"
				placeholder="Enter Username">
		</div>
		<div class="mb-3">
			<label for="password" class="form-label login-label">Password</label>
			<input type="password" class="form-control login-input" id="password" name="password"
				placeholder="Enter Password">
		</div>
		<br>
		<input type="submit" value="Submit" class="btn login-btn">

	</div>
</form>
{% endblock %}